{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Posts{% endblock %}</h1>
    {% if g.user %}
        <a class="action" href="{{ url_for('blog.create') }}">New</a>
    {% endif %}
{% endblock %}

{% block content %}
    {% for post in posts %}
        <article class="post">
            <header>
                <div>
                    <h1>{{ post['title'] }}</h1>
                    <div class="about">by {{ post['username'] }} on {{ post['created_time'].strftime('%Y-%m-%d') }}</div>
                </div>
                {% if g.user %}
                    {% if g.user['id'] == post['author_id'] %}
                        <a class="action" href="{{ url_for('blog.update', id=post['id']) }}">Edit</a>
                    {% endif %}
                {% endif %}
            </header>
            <p class="body">{{ post['body'] }}</p>
            <!--Like and comment-->
                <div class="post-actions">
                    <a class="action" href="{{ url_for('blog.like_post', id=post['id']) }}">👍 Like ({{post['like_count']}})</a>
                    <a class="comment_post" href="{{ url_for('blog.comment_post', id=post['id']) }}">💬 Comment({{post['comment_count']}})</a>
                    <a class="" href="{{ url_for('blog.categories', id=post['id']) }}">Favorite</a>
                </div>
        </article>
        {% if not loop.last %}
            <hr>
            <hr>
        {% endif %}
    {% endfor %}
{% endblock %}